@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-background: theme(colors.zinc.900);
  --color-foreground: theme(colors.zinc.100);
  --color-primary: theme(colors.green.500);
  --color-primary-foreground: theme(colors.zinc.100);
  --color-popover: theme(colors.zinc.900);
  --color-popover-foreground: theme(colors.zinc.100);
  --color-accent: theme(colors.zinc.800);
  --color-accent-foreground: theme(colors.zinc.100);
  --color-muted: theme(colors.zinc.700);
  --color-muted-foreground: theme(colors.zinc.500);
  --color-card: theme(colors.zinc.800);
  --color-card-foreground: theme(colors.zinc.100);

  --color-border: theme(colors.zinc.700);
  --color-ring: theme(colors.blue.500);
}

@theme inline {
  --font-body: "Inconsolata", monospace;

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-popover: var(--color-popover);
  --color-popover-foreground: var(--color-popover-foreground);
  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);
  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);
  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);

  --color-border: var(--color-border);
  --color-ring: var(--color-ring);
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  * {
    border-color: var(--color-border);
  }
}
